.carta {
  perspective: 500px;
  display: inline-block;
  padding: 10px;
}

.carta img {
  width: 161px;
  height: 225px;
  transition: transform 0.3s ease, opacity 0.5s ease;
  transform-style: preserve-3d;
  display: inline-block;
  opacity: 1;
}

.isFlipped {
  transform: rotateY(180deg); 
}

.hidden {
  transition: visibility 0.3s 0.4s;
  opacity: 0.6;
  visibility: hidden;
}